@import 'mixin';

.header{
  display: grid;
  grid-template-columns: 15%  60%  25%;
  .menu {
    &>span {
      margin-right: 60px;
      @include upText(14px, 0.13em);
    }
  }
  .fastActions{
    text-align: right;
    &>span {
      margin-left: 22px;
    }
  }
}
